
.castrar-car-content {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: first baseline;
    overflow: auto;
    padding: 3rem;
}

.car-form {
    padding-top: 4.2rem;
}

.vertical-menu {
    width: 300px !important;
    background-color: #f4f4f4;
    border: transparent;
}